* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
body {
  margin: 0;
}
main {
  background-image: url(images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  filter: brightness(130%);
  background-attachment: local;
}
main header {
  padding: 70px 30px;
  display: flex;
  justify-content: space-around;
  align-content: center;
}
main header span {
  font-family: Poppins;
  font-size: 30px;
  line-height: 44px;
  font-weight: 700;
  color: #fcae61;
}
main header .main-link {
  text-decoration: none;
  font-family: Poppins;
  font-size: 30px;
  line-height: 44px;
  font-weight: 700;
  color: #ffffff;
}
main header .link {
  margin: 0px 15px;
  font-family: Poppins;
  font-size: 16px;
  line-height: 44px;
  font-weight: 500;
  color: white;
  text-decoration: none;
}
main header .link-item {
  padding: 15px 40px;
  border: 1px solid #5338be;
  border-radius: 28.5px;
  margin-left: 36px;
  font-family: Poppins;
  font-size: 16px;
  line-height: 44px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
}
main header .link-item:hover {
  color: #ffffff;
  background-color: #5338be;
}
main .promo {
  border-bottom: 1px solid #e5e6e5;
  display: flex;
  justify-content: space-between;
  padding: 70px 18%;
}
main .promo .main-img .img-pic-main {
  transform: rotate(16deg);
}
main .promo .promo-container span {
  font-family: Poppins;
  font-size: 56px;
  line-height: 44px;
  font-weight: 700;
  color: #fcae61;
}
main .promo .promo-container .bord {
  display: inline;
}
main .promo .promo-container .bord .promo-text {
  padding: 3px 129px;
  background-color: #d5dee1;
  border-radius: 16px;
  border: 1px solid #d5dee1;
  display: inline;
  font-family: Poppins;
  font-size: 16px;
  line-height: 44px;
  font-weight: 400;
  color: #5338be;
}
main .promo .promo-container .promo-title {
  margin-top: 15px;
  font-family: Poppins;
  font-size: 59px;
  line-height: 66px;
  font-weight: 700;
  color: #5338be;
}
main .promo .promo-container .promo-text-about {
  margin: 69px 0;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  color: #5338be;
  text-decoration: none;
}
main .promo .promo-container .promo-buttons {
  padding: 15px 32px;
  border: 1px solid transparent;
  border-radius: 28.5px;
  font-family: Poppins;
  font-size: 16px;
  line-height: 44px;
  font-weight: 500;
  color: #fcae61;
  text-decoration: none;
}
main .promo .promo-container .promo-buttons:hover {
  color: #5338be;
  background-color: #fcae61;
}
.category-of-companies .companies {
  padding-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  line-height: 28px;
  font-weight: 600;
  color: #242f51;
}
.category-of-companies .img-companies {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 170px;
}
.category-of-companies .img-companies .img-links-comp {
  text-decoration: none;
}
.category-of-companies .img-companies .images-companies {
  margin: 0px 45px;
}
.category-of-companies .container-smart {
  padding-right: 212px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
}
.category-of-companies .container-smart .container-items .smart-title {
  font-family: Poppins;
  font-size: 36px;
  line-height: 46px;
  font-weight: 600;
  color: #242f51;
}
.category-of-companies .container-smart .container-items .smart-text {
  margin-top: 10px;
  margin-bottom: 65px;
  font-family: Poppins;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #616368;
}
.category-of-companies .container-smart .flex-zone {
  display: flex;
  justify-content: center;
  align-items: center;
}
.category-of-companies .container-smart .flex-zone .connector {
  margin: 20px 20px;
}
.category-of-companies .container-smart .flex-zone .connector .border-for-image {
  position: relative;
  padding: 47px 47px;
  border-radius: 60px;
  background-color: #ffecef;
}
.category-of-companies .container-smart .flex-zone .connector .border-for-image .card-img {
  position: absolute;
  left: 19%;
  transform: translateY(-50%);
}
.category-of-companies .container-smart .flex-zone .connector .border-second-color {
  background-color: #f4f4ff;
}
.category-of-companies .container-smart .flex-zone .connector .border-third-color {
  background-color: #e4ffee;
}
.category-of-companies .container-smart .flex-zone .connector .subtitle-cards {
  display: inline;
  font-family: Poppins;
  font-size: 20px;
  line-height: 58px;
  font-weight: 600;
  color: #f55767;
}
.category-of-companies .container-smart .flex-zone .connector .cards-text {
  font-family: Poppins;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #616368;
}
.category-of-companies .container-smart .flex-zone .connector .color-subtitle {
  color: #40975f;
}
.category-of-companies .container-smart .flex-zone .connector .color-subtitle-of {
  color: #2563ff;
}
.category-of-companies .smart-jackpots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.category-of-companies .smart-jackpots .title-jackpot {
  margin-right: 70px;
  font-family: Poppins;
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  color: #242f51;
}
.category-of-companies .smart-jackpots .img-jackpot {
  opacity: 0.38;
}
.category-of-companies .smart-jackpots .text-jackpot {
  margin-left: 90px;
  font-family: Poppins;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #616368;
}
.category-of-companies .jackpot-cards {
  padding: 40px 18%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.category-of-companies .jackpot-cards .jakcpot-all-cards .border-image {
  margin-bottom: 10px;
  display: inline;
  position: relative;
  padding: 35px 44px;
  border-radius: 100%;
  background-color: #ffecef;
}
.category-of-companies .jackpot-cards .jakcpot-all-cards .border-image .cards-jack-img {
  padding: 0px 9px;
  position: absolute;
  left: 7%;
  top: 50%;
  transform: translateY(-50%);
}
.category-of-companies .jackpot-cards .jakcpot-all-cards .color-network {
  background-color: #f4f4ff;
}
.category-of-companies .jackpot-cards .jakcpot-all-cards .color-badge {
  background-color: #e4ffee;
}
.category-of-companies .jackpot-cards .jakcpot-all-cards .jack-cont {
  margin-top: 45px;
}
.category-of-companies .jackpot-cards .jakcpot-all-cards .jack-cont .jack-title {
  display: inline;
  font-family: Poppins;
  font-size: 20px;
  line-height: 58px;
  font-weight: 600;
  color: #f55767;
}
.category-of-companies .jackpot-cards .jakcpot-all-cards .jack-cont .color-network-text {
  color: #2563ff;
}
.category-of-companies .jackpot-cards .jakcpot-all-cards .jack-cont .color-badge-title {
  color: #40975f;
}
.category-of-companies .jackpot-cards .jakcpot-all-cards .jack-cont .jack-text {
  display: inline;
  font-family: Poppins;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #616368;
}
.category-of-companies .integration {
  display: flex;
  justify-content: center;
  padding: 90px 19%;
}
.category-of-companies .integration .design-int {
  padding: 115px 87px;
}
.category-of-companies .integration .design-int .int-tittle {
  margin-bottom: 15px;
  font-family: Poppins;
  font-size: 36px;
  line-height: 46px;
  font-weight: 600;
  color: #242f51;
}
.category-of-companies .integration .design-int .int-text {
  font-family: Poppins;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #616368;
  margin-bottom: 50px;
}
.category-of-companies .integration .design-int .learn-button {
  font-family: Poppins;
  font-size: 16px;
  line-height: 44px;
  font-weight: 700;
  padding: 20px 40px;
  color: #ffffff;
  background-color: #2500f9;
  border-radius: 28.5px;
  text-decoration: none;
}
.choose-app {
  border-bottom: 1px solid #e5e6e5;
}
.choose-app .subtitle-choose {
  padding-top: 150px;
  margin-bottom: 30px;
  font-family: Poppins;
  text-align: center;
  font-size: 36px;
  line-height: 46px;
  font-weight: 600;
  color: #242f51;
}
.choose-app .text-choose {
  margin-bottom: 70px;
  font-family: Poppins;
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #616368;
}
.choose-app .enumeration-all-cards {
  padding: 40px 23%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.choose-app .enumeration-all-cards .enumeration-cards {
  margin: 50px 40px;
}
.choose-app .enumeration-all-cards .enumeration-cards .enumeration-bg {
  margin: 0px 86px;
  padding: 35px 43px;
  display: inline;
  position: relative;
  background-color: #ffecef;
  border-radius: 100%;
}
.choose-app .enumeration-all-cards .enumeration-cards .enumeration-bg .enumeration-img {
  position: absolute;
  top: 50%;
  left: 19%;
  transform: translateY(-50%);
}
.choose-app .enumeration-all-cards .enumeration-cards .enumeration-all-text .enumeration-subtitle {
  text-align: center;
  margin-top: 40px;
  font-family: Poppins;
  font-size: 20px;
  line-height: 58px;
  font-weight: 600;
  color: #242f51;
}
.choose-app .enumeration-all-cards .enumeration-cards .enumeration-all-text .enumeration-text {
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #616368;
}
.choose-app .enumeration-all-cards .enumeration-cards .second-color {
  background-color: #eaf9ff;
}
.choose-app .enumeration-all-cards .enumeration-cards .third-color {
  background-color: #fff6d3;
}
.choose-app .enumeration-all-cards .enumeration-cards .fourth-color {
  background-color: #e4ffee;
}
.choose-app .enumeration-all-cards .enumeration-cards .fifth-color {
  background-color: #f4f4ff;
}
.choose-app .enumeration-all-cards .enumeration-cards .six-color {
  background-color: #fdeee4;
}
.choose-app .cards-features {
  padding-top: 50px;
  padding-left: 22%;
}
.choose-app .cards-features .flex-all-features {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.choose-app .cards-features .flex-all-features .flex-img-big {
  position: relative;
}
.choose-app .cards-features .flex-all-features .flex-img-big .iphone-close-eachother {
  position: absolute;
  left: 57%;
}
.choose-app .cards-features .flex-all-features .flex-img-big .iphone-pos-first {
  position: absolute;
  left: 54%;
  top: 17%;
}
.choose-app .cards-features .flex-all-features .flex-img-big .iphone-pos-second {
  position: absolute;
  left: 65%;
  top: 14%;
}
.choose-app .cards-features .flex-all-features .title-of-features {
  font-family: Poppins;
  font-size: 36px;
  line-height: 46px;
  font-weight: 600;
  color: #242f51;
}
.choose-app .cards-features .flex-all-features .text-features {
  margin-top: 13px;
  margin-bottom: 100px;
  font-family: Poppins;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #616368;
}
.choose-app .cards-features .flex-all-features .flex-first-road {
  display: flex;
  justify-content: flex-start;
}
.choose-app .cards-features .flex-all-features .flex-first-road .enumeration-cards .enumeration-bg {
  padding: 35px 43px;
  display: inline;
  position: relative;
  background-color: #ffecef;
  border-radius: 100%;
}
.choose-app .cards-features .flex-all-features .flex-first-road .enumeration-cards .enumeration-bg .enumeration-img {
  position: absolute;
  top: 50%;
  left: 19%;
  transform: translateY(-50%);
}
.choose-app .cards-features .flex-all-features .flex-first-road .enumeration-cards .enumeration-second-color {
  background-color: #e4ffee;
}
.choose-app .cards-features .flex-all-features .flex-first-road .enumeration-cards .enumeration-third-color {
  background-color: #fff6d3;
}
.choose-app .cards-features .flex-all-features .flex-first-road .enumeration-cards .enumeration-fourth-color {
  background-color: #f4f4ff;
}
.choose-app .cards-features .flex-all-features .flex-first-road .enumeration-cards .enumeration-all-text .enumeration-subtitle {
  text-align: left;
  margin-top: 40px;
  font-family: Poppins;
  font-size: 20px;
  line-height: 58px;
  font-weight: 600;
  color: #242f51;
}
.choose-app .cards-features .flex-all-features .flex-first-road .enumeration-cards .enumeration-all-text .enumeration-text {
  margin-right: 87px;
  margin-bottom: 100px;
  text-align: left;
  font-family: Poppins;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #616368;
}
.choose-app .cards-features .flex-all-features .flex-first-road .enumeration-cards .enumeration-all-text .enumeration-text-default {
  margin-bottom: 55px;
  margin-right: 87px;
  text-align: left;
  font-family: Poppins;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #616368;
}
.choose-app .see-all-button {
  font-family: Poppins;
  font-size: 16px;
  line-height: 44px;
  font-weight: 700;
  padding: 16px 56px;
  color: #ffffff;
  background-color: #2500f9;
  border-radius: 30.5px;
  text-decoration: none;
}
.choose-app .payment .payment-title {
  margin-top: 150px;
  margin-bottom: 20px;
  text-align: center;
  font-family: Poppins;
  font-size: 36px;
  line-height: 46px;
  font-weight: 600;
  color: #242f51;
}
.choose-app .payment .payment-text {
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #616368;
}
.choose-app .payment .price-card {
  padding: 20px 20%;
}
.choose-app .payment .price-card .two-price-cards {
  display: flex;
  justify-content: center;
}
.choose-app .payment .price-card .two-price-cards .check-list {
  margin: 15px 20px;
  border: 2px solid transparent;
}
.choose-app .payment .price-card .two-price-cards .check-list:hover {
  border: 2px solid #ebebeb;
  border-radius: 9px;
}
.choose-app .payment .price-card .two-price-cards .check-list .bg-main {
  background-color: #ebeeef;
  padding: 70px 50px 35px 50px;
}
.choose-app .payment .price-card .two-price-cards .check-list .bg-main .money {
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #999ca5;
}
.choose-app .payment .price-card .two-price-cards .check-list .bg-main .money span {
  font-family: Poppins;
  font-size: 60px;
  line-height: 58px;
  font-weight: 600;
  color: #242f51;
}
.choose-app .payment .price-card .two-price-cards .check-list .bg-main .tittle-list {
  margin-top: 15px;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  color: #242f51;
}
.choose-app .payment .price-card .two-price-cards .check-list .bg-main .subtitle-list {
  font-family: Poppins;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #999ca5;
}
.choose-app .payment .price-card .two-price-cards .priorety {
  margin-top: 25px;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  line-height: 48px;
  font-weight: 400;
  color: #999ca5;
}
.choose-app .payment .price-card .two-price-cards .priorety .price-button {
  color: #f4f4ff;
  margin-top: 15px;
  display: inline-block;
  background-color: #2500f9;
  border-radius: 28px;
  padding: 2px 46px;
}
.choose-app .payment .price-card .two-price-cards .priorety .start {
  margin-bottom: 20px;
  font-family: Poppins;
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  color: #2500f9;
  margin-top: 20px;
  display: block;
}
.clients {
  border-bottom: 1px solid #e5e6e5;
}
.clients .clients-container {
  display: flex;
  justify-content: center;
}
.clients .clients-container .img-container {
  position: relative;
}
.clients .clients-container .bg-image-of-persons {
  opacity: 0.16;
  margin-top: 200px;
}
.clients .clients-container .images-of-persons-first {
  position: absolute;
  left: 36px;
  top: 300px;
}
.clients .clients-container .images-of-persons-second {
  position: absolute;
  left: 255px;
  top: 200px;
}
.clients .clients-container .images-of-persons-third {
  position: absolute;
  left: 603px;
  top: 236px;
}
.clients .clients-container .images-of-persons-fourth {
  position: absolute;
  top: 427px;
  left: 63px;
}
.clients .clients-container .images-of-persons-fifth {
  position: absolute;
  top: 381px;
  left: 290px;
}
.clients .clients-container .images-of-persons-six {
  position: absolute;
  top: 456px;
  left: 477px;
}
.clients .clients-container .images-of-persons-seventh {
  position: absolute;
  top: 568px;
  left: 240px;
}
.clients .container-describe .title-of-desc {
  margin-top: 114px;
  margin-bottom: 20px;
  font-family: Poppins;
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  color: #242f51;
}
.clients .container-describe .text-descr {
  margin-bottom: 20px;
  font-family: Poppins;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #616368;
}
.clients .container-describe .subtitle-of-desc {
  margin-bottom: 10px;
  font-family: Poppins;
  font-size: 20px;
  line-height: 58px;
  font-weight: 600;
  color: #242f51;
}
.clients .container-describe .main-text-desc {
  margin-bottom: 55px;
  font-family: Poppins;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #616368;
}
.clients .container-describe .profiles {
  display: flex;
}
.clients .container-describe .profiles .man-info {
  margin-left: 30px;
}
.clients .container-describe .profiles .name-of-man {
  display: inline;
  font-family: Poppins;
  font-size: 18px;
  line-height: 58px;
  font-weight: 600;
  color: #242f51;
}
.clients .container-describe .profiles .text-work {
  font-family: Poppins;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #616368;
}
.js-fuck-nigga {
  padding: 0px 19%;
}
.js-fuck-nigga .animation {
  padding-top: 170px;
  text-align: center;
  font-family: Poppins;
  font-size: 40px;
  line-height: 58px;
  font-weight: 600;
  color: #242f51;
}
.js-fuck-nigga .animation-text {
  margin-top: 15px;
  margin-bottom: 65px;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #616368;
}
.js-fuck-nigga .accordion {
  background-color: #f5f7fa;
  cursor: pointer;
  padding: 20px 60px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-family: Poppins;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  color: #242f51;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
}
.js-fuck-nigga .accordion img {
  height: 23px;
}
.js-fuck-nigga .accordion:hover {
  background-color: #e2e2e2;
}
.js-fuck-nigga .accordion:hover + .panel {
  background-color: #e2e2e2;
}
.js-fuck-nigga .panel {
  margin-bottom: 6px;
  padding: 0 61px;
  background-color: #f5f7fa;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  transition: 0.4s;
}
.js-fuck-nigga .panel p {
  font-family: Poppins;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #616368;
}
.js-fuck-nigga .active {
  padding-top: 40px;
}
.js-fuck-nigga .active + .panel p {
  padding-bottom: 40px;
}
.js-fuck-nigga .active img {
  display: none;
}
.download-app {
  padding: 30px 11%;
  display: flex;
  justify-content: center;
}
.download-app .download .app {
  margin-top: 200px;
  margin-bottom: 25px;
  font-family: Poppins;
  font-size: 48px;
  line-height: 58px;
  font-weight: 600;
  color: #242f51;
}
.download-app .download .text-app {
  margin-bottom: 45px;
  font-family: Poppins;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #616368;
}
.download-app .regular-og-img {
  padding-top: 64px;
}
.download-app .img-apps .google {
  margin-right: 25px;
  margin-left: 10px;
}
footer {
  padding: 118px 37%;
  background-color: #09142e;
}
footer .applab-center {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}
footer .applab-center span {
  font-family: Poppins;
  font-size: 30px;
  line-height: 44px;
  font-weight: 700;
  color: #fcae61;
}
footer .applab-center .main-link {
  text-decoration: none;
  font-family: Poppins;
  font-size: 30px;
  line-height: 44px;
  font-weight: 700;
  color: #ffffff;
}
footer .navig-block .link {
  margin: 0px 15px;
  margin-top: 10px;
  font-family: Poppins;
  font-size: 16px;
  line-height: 44px;
  font-weight: 500;
  color: #394257;
  text-decoration: none;
}
footer .navig-block .link:hover {
  color: #ffffff;
}
footer .social-buttons {
  display: flex;
  justify-content: center;
}
footer .social-buttons .flex-img {
  display: flex;
  justify-content: space-evenly;
}
footer .social-buttons .flex-img .buttons-group {
  margin: 40px 20px;
}
footer .fot-end-text {
  display: inline-block;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 50px;
  opacity: 0.21;
  font-family: Poppins;
  font-size: 14px;
  line-height: 44px;
  font-weight: 400;
  color: #ffffff;
}
footer .fot-end-text:hover {
  opacity: 100%;
}
@media (max-width: 769px) {
  br {
    display: none;
  }
  main {
    background-position: center;
  }
  main header {
    padding: 5px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  main header nav {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  main header .link-item {
    padding: 7px 35px;
    border-radius: 34px;
    margin: 0px;
    border: 1px solid #5338be;
  }
  main .promo {
    padding: 35px 0px;
    display: flex;
    flex-direction: column;
  }
  main .promo .promo-container span {
    font-size: 20px;
  }
  main .promo .promo-container .bord .promo-text {
    padding: 5px 60px;
  }
  main .promo .promo-container .promo-title {
    margin: 0px 13px;
    display: inline;
    margin-top: 2px;
    font-size: 20px;
  }
  main .promo .promo-container .promo-text-about {
    text-align: center;
    margin: 0px;
    font-size: 13px;
    margin-bottom: 22px;
  }
  main .promo .promo-container .promo-buttons {
    padding: 15px 32px;
  }
  main .promo .main-img .img-pic-main {
    width: 100%;
  }
  .category-of-companies .img-companies {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }
  .category-of-companies .img-companies .images-companies {
    margin: 15px 0px;
  }
  .category-of-companies .container-smart {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 0px;
  }
  .category-of-companies .container-smart .img-container-big {
    width: 100%;
    transform: rotate(13.5deg);
    margin-left: 18px;
  }
  .category-of-companies .container-smart .container-items .smart-title {
    margin-top: 15px;
    font-size: 20px;
    text-align: center;
  }
  .category-of-companies .container-smart .container-items .smart-title br {
    display: none;
  }
  .category-of-companies .container-smart .container-items .smart-text {
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
  }
  .category-of-companies .container-smart .container-items .smart-text br {
    display: none;
  }
  .category-of-companies .smart-jackpots {
    display: flex;
    flex-direction: column;
  }
  .category-of-companies .smart-jackpots .title-jackpot {
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    margin-right: 0px;
  }
  .category-of-companies .smart-jackpots .title-jackpot br {
    display: none;
  }
  .category-of-companies .smart-jackpots .img-jackpot {
    transform: rotate(90deg);
  }
  .category-of-companies .smart-jackpots .text-jackpot {
    margin-left: 0px;
    text-align: center;
  }
  .category-of-companies .smart-jackpots .text-jackpot br {
    display: none;
  }
  .category-of-companies .jackpot-cards {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .category-of-companies .jackpot-cards .jakcpot-all-cards {
    margin-bottom: 55px;
  }
  .category-of-companies .jackpot-cards .jakcpot-all-cards .border-image {
    margin: 0px 144px;
  }
  .category-of-companies .jackpot-cards .jakcpot-all-cards .jack-cont .jack-title {
    text-align: center;
    display: block;
    font-size: 18px;
    line-height: 23px;
  }
  .category-of-companies .jackpot-cards .jakcpot-all-cards .jack-cont .jack-text {
    text-align: center;
    display: block;
    font-size: 16px;
    line-height: 25px;
  }
  .category-of-companies .integration {
    padding: 0px;
    display: flex;
    flex-direction: column;
  }
  .category-of-companies .integration img {
    width: 100%;
  }
  .category-of-companies .integration .design-int {
    padding: 0px;
  }
  .category-of-companies .integration .design-int .int-tittle {
    margin-top: 40px;
    text-align: center;
  }
  .category-of-companies .integration .design-int .int-tittle br {
    display: none;
  }
  .category-of-companies .integration .design-int .int-text {
    text-align: center;
  }
  .category-of-companies .integration .design-int .int-text br {
    display: none;
  }
  .category-of-companies .integration .design-int .learn-button {
    padding: 4px 20px;
    display: block;
    text-align: center;
  }
  .choose-app .subtitle-choose {
    padding-top: 60px;
    margin-bottom: 10px;
    font-size: 20px;
  }
  .choose-app .subtitle-choose br {
    display: none;
  }
  .choose-app .text-choose {
    margin-bottom: 0px;
    font-size: 18px;
  }
  .choose-app .text-choose br {
    display: none;
  }
  .choose-app .enumeration-all-cards .enumeration-cards .enumeration-all-text .enumeration-text br {
    display: none;
  }
  .choose-app .cards-features {
    padding: 0px;
  }
  .choose-app .cards-features .flex-all-features {
    display: flex;
    flex-direction: column;
  }
  .choose-app .cards-features .flex-all-features .flex-img-big {
    position: relative;
    opacity: 0.25;
  }
  .choose-app .cards-features .flex-all-features .flex-img-big .iphone-close-eachother {
    display: none;
  }
  .choose-app .cards-features .flex-all-features .flex-img-big .iphone-pos-first {
    position: absolute;
    left: 0%;
    top: -9%;
  }
  .choose-app .cards-features .flex-all-features .flex-img-big .iphone-pos-second {
    position: absolute;
    left: -12%;
  }
  .choose-app .cards-features .flex-all-features .title-of-features {
    text-align: center;
  }
  .choose-app .cards-features .flex-all-features .title-of-features br {
    display: none;
  }
  .choose-app .cards-features .flex-all-features .text-features {
    text-align: center;
    margin-bottom: 40px;
  }
  .choose-app .cards-features .flex-all-features .text-features br {
    display: none;
  }
  .choose-app .cards-features .flex-all-features .flex-first-road {
    display: flex;
    flex-direction: column;
  }
  .choose-app .cards-features .flex-all-features .flex-first-road .enumeration-cards .enumeration-bg {
    margin: 0px 140px;
  }
  .choose-app .cards-features .flex-all-features .flex-first-road .enumeration-cards .enumeration-all-text .enumeration-subtitle {
    text-align: center;
  }
  .choose-app .cards-features .flex-all-features .flex-first-road .enumeration-cards .enumeration-all-text .enumeration-text {
    text-align: center;
    margin-bottom: 50px;
    margin-right: 0px;
  }
  .choose-app .cards-features .flex-all-features .flex-first-road .enumeration-cards .enumeration-all-text .enumeration-text-default {
    text-align: center;
    margin-bottom: 50px;
    margin-right: 0px;
  }
  .choose-app .cards-features .flex-all-features .see-all-button {
    display: block;
    text-align: center;
    padding: 6px 50px;
  }
  .clients .clients-container {
    display: flex;
    flex-direction: column;
  }
  .clients .clients-container .img-container {
    position: relative;
  }
  .clients .clients-container .img-container .bg-image-of-persons {
    width: 100%;
    opacity: 0.75;
  }
  .clients .clients-container .img-container img {
    width: 16%;
  }
  .clients .clients-container .img-container .images-of-persons-first {
    position: absolute;
    left: 14px;
    top: 228px;
  }
  .clients .clients-container .img-container .images-of-persons-second {
    position: absolute;
    left: 134px;
    top: 200px;
  }
  .clients .clients-container .img-container .images-of-persons-third {
    position: absolute;
    left: 267px;
    top: 224px;
  }
  .clients .clients-container .img-container .images-of-persons-fourth {
    position: absolute;
    top: 313px;
    left: 40px;
  }
  .clients .clients-container .img-container .images-of-persons-fifth {
    position: absolute;
    top: 298px;
    left: 156px;
  }
  .clients .clients-container .img-container .images-of-persons-six {
    position: absolute;
    top: 338px;
    left: 274px;
  }
  .clients .clients-container .img-container .images-of-persons-seventh {
    position: absolute;
    top: 389px;
    left: 114px;
  }
  .clients .container-describe .title-of-desc {
    margin-top: 70px;
    display: block;
    text-align: center;
    font-size: 26px;
    line-height: 26px;
  }
  .clients .container-describe .text-descr {
    display: block;
    text-align: center;
    font-size: 19px;
    line-height: 26px;
  }
  .clients .container-describe .stars {
    margin: 0px 112px;
  }
  .clients .container-describe .subtitle-of-desc {
    display: block;
    text-align: center;
  }
  .clients .container-describe .main-text-desc {
    display: block;
    text-align: center;
  }
  .clients .container-describe .profiles {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .clients .container-describe .profiles .man-photo {
    width: 35%;
  }
  .clients .container-describe .profiles .man-info {
    margin-left: 0px;
  }
  .clients .container-describe .profiles .name-of-man {
    display: block;
    text-align: center;
    font-size: 20px;
  }
  .clients .container-describe .profiles .text-work {
    display: block;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  .js-fuck-nigga .animation {
    padding-top: 30px;
  }
  .js-fuck-nigga .animation-text {
    margin-bottom: 35px;
  }
  .js-fuck-nigga .accordion {
    text-align: center;
    padding: 20px 45px;
    font-size: 15px;
  }
  .js-fuck-nigga .accordion img {
    margin-left: 20px;
    width: 20%;
    height: 15px;
  }
  .js-fuck-nigga .active + .panel p {
    text-align: center;
  }
  .download-app {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .download-app .regular-og-img {
    padding-top: 10px;
    width: 100%;
  }
  .download-app .download .app {
    margin-top: 30px;
    font-size: 30px;
    margin-bottom: 10px;
  }
  .download-app .download .text-app {
    margin-bottom: 15px;
    display: block;
    align-items: center;
    font-size: 20px;
  }
  .download-app .download .img-apps {
    width: 100%;
  }
  .download-app .download .img-apps .google {
    width: 49%;
    margin: 0px;
  }
  .download-app .download .img-apps .app-store {
    width: 49%;
  }
  footer {
    padding: 30px 0%;
  }
  footer .applab-center {
    margin-bottom: 10px;
  }
  footer .navig-block {
    display: block;
    text-align: center;
  }
  footer .navig-block .link {
    font-size: 21px;
  }
  footer .fot-end-text {
    margin: 0px;
    font-size: 18px;
  }
}
